<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Cấp quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reversi"
        tools:targetApi="31">
        <activity
            android:name="com.example.reversi.AIvsAIActivity"
            android:exported="false" />
        <!-- Màn hình chính khi khởi động -->
        <activity
            android:name="com.example.reversi.MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Các màn hình của game -->
        <activity android:name="com.example.reversi.MainActivity" />
        <activity android:name="com.example.reversi.GameActivity" />
        <activity android:name="com.example.reversi.GameWithBotActivity" />
        <activity android:name="com.example.reversi.RoomBotActivity" />
    </application>

</manifest>